* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 0;
  background: #ffffff;
  text-align: center;
}

.main {
  min-height: 800px;
}

/* ------------- The Grid */
.arrow,
.breadcrumb_item,
.btn-nav_btn,
.checkbox,
.container,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.hero-container,
.hero-container_search,
.hero_login,
.hero_login-cta,
.hero_search,
.hero_sub-title,
.hero_susi,
.hero_title,
.item-video_container_element,
.left-menu-nav_item_link,
.logo_hero,
.logo_hero_login,
.modal-control,
.modal-prompt-control,
.modal-prompt-title,
.modal-title,
.nav-item,
.profile-picture,
.section,
.status-bar_logo,
.switch,
.switch-btn,
.switch-text_off,
.switch-text_on,
[class*="g1"],
[class*="g2"],
[class*="icon"],
[class*="btn"],
.message-item_email,
.message-item_from,
.message-item_phone,
.message-item_date,
.message-item,
.message-item_status-line,
.message-item_content,
.message-item_head,
.message-item_head_left,
.message-item_head_right,
.message-item_right,
.search-item_video-container,
.search-item_title,
.search-item_info_title,
.search-item_info_text,
.video-control,
.item-info,
.video-item,
.row,
.workspace,
input,
label,
select {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.section {
  width: 100%;
  padding: 38px 0;
}

.container {
  width: 960px;
  text-align: left;
  position: relative;
}

/* Grid Layout */

.g1  { width: 4.16666666666667%;  }
.g2  { width: 8.33333333333334%;  }
.g3  { width: 12.50000000000001%; }
.g4  { width: 16.66666666666668%; }
.g5  { width: 20.83333333333335%; }
.g6  { width: 25%;                }
.g7  { width: 29.16666666666669%; }
.g8  { width: 33.33333333333336%; }
.g9  { width: 37.50000000000003%; }
.g10 { width: 41.6666666666667%;  }
.g11 { width: 45.83333333333337%; }
.g12 { width: 50%;                }
.g13 { width: 54.16666666666671%; }
.g14 { width: 58.33333333333338%; }
.g15 { width: 62.50000000000005%; }
.g16 { width: 66.66666666666672%; }
.g17 { width: 70.83333333333339%; }
.g18 { width: 75%;                }
.g19 { width: 79.16666666666673%; }
.g20 { width: 83.3333333333334%;  }
.g21 { width: 87.50000000000007%; }
.g22 { width: 91.66666666666674%; }
.g23 { width: 95.83333333333341%; }
.g24 { width: 100%;               }

.l05 { margin-left: 2.08%;  }
.l1  { margin-left: 4.16666666666667%;  }
.l2  { margin-left: 8.33333333333334%;  }
.l3  { margin-left: 12.50000000000001%; }
.l4  { margin-left: 16.66666666666668%; }
.l5  { margin-left: 20.83333333333335%; }
.l6  { margin-left: 25%;                }
.l7  { margin-left: 29.16666666666669%; }
.l8  { margin-left: 33.33333333333336%; }
.l9  { margin-left: 37.50000000000003%; }
.l10 { margin-left: 41.6666666666667%;  }
.l11 { margin-left: 45.83333333333337%; }
.l12 { margin-left: 50%;                }
.l13 { margin-left: 54.16666666666671%; }
.l14 { margin-left: 58.33333333333338%; }
.l15 { margin-left: 62.50000000000005%; }
.l16 { margin-left: 66.66666666666672%; }
.l17 { margin-left: 70.83333333333339%; }
.l18 { margin-left: 75%;                }
.l19 { margin-left: 79.16666666666673%; }
.l20 { margin-left: 83.3333333333334%;  }
.l21 { margin-left: 87.50000000000007%; }
.l22 { margin-left: 91.66666666666674%; }
.l23 { margin-left: 95.83333333333341%; }

.r1  { margin-right: 4.16666666666667%;  }
.r2  { margin-right: 8.33333333333334%;  }
.r3  { margin-right: 12.50000000000001%; }
.r4  { margin-right: 16.66666666666668%; }
.r5  { margin-right: 20.83333333333335%; }
.r6  { margin-right: 25%;                }
.r7  { margin-right: 29.16666666666669%; }
.r8  { margin-right: 33.33333333333336%; }
.r9  { margin-right: 37.50000000000003%; }
.r10 { margin-right: 41.6666666666667%;  }
.r11 { margin-right: 45.83333333333337%; }
.r12 { margin-right: 50%;                }
.r13 { margin-right: 54.16666666666671%; }
.r14 { margin-right: 58.33333333333338%; }
.r15 { margin-right: 62.50000000000005%; }
.r16 { margin-right: 66.66666666666672%; }
.r17 { margin-right: 70.83333333333339%; }
.r18 { margin-right: 75%;                }
.r19 { margin-right: 79.16666666666673%; }
.r20 { margin-right: 83.3333333333334%;  }
.r21 { margin-right: 87.50000000000007%; }
.r22 { margin-right: 91.66666666666674%; }
.r23 { margin-right: 95.83333333333341%; }

.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.m2,
.m3,
.m4,
.m5,
.m6,
.m7,
.m8,
.m9,
[class*="g1"],
[class*="g2"],
[class*="m1"],
[class*="m2"] {
  position: relative;
}

.right { text-align: right; } .left { text-align: left; } .center { text-align: center; }

.padding {
  padding: 20px;
}

.col1of2 {
  padding-right: 22px;
}

.col2of2 {
  padding-left: 22px;
}

.left-menu .col1of2 {
  padding-right: 8px;
}

.left-menu .col2of2 {
  padding-left: 8px;
}

.col1of3 {
  padding-right: 30px;
}

.col2of3 {
  padding-left: 15px;
  padding-right: 15px;
}

.col3of3 {
 padding-left: 30px;
}

.col1of4 {
  padding-right: 33px;
}

.col2of4 {
  padding-left: 12px;
  padding-right: 22px;
}

.col3of4 {
  padding-left: 22px;
  padding-right: 12px;
}

.col4of4 {
  padding-left: 33px;
}

.col1of3-sm {
  padding-right: 10px;
}

.col2of3-sm {
  padding-left: 5px;
  padding-right: 5px;
}

.col3of3-sm {
  padding-left: 10px;
}

/* In the hero */

[class*="col"] p {
  text-align: justify;
}

.col1of3 h3,
.col2of3 h3,
.col3of3 h3 {
  text-align: center;
}

/* ------------- Typography */

a {
  text-decoration: none;
  color: #28AAE1;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

br {
  font-size: 16px;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #808080;
  font-weight: 300;
}

h1,h3 {
  font-family: 'Roboto Slab', serif;
}

h1,h2 {
  text-align: center;
}

h1 {
  font-size: 38px;
  line-height: 100px;
  margin-bottom: 20px;
  color: #595959;
}

h2 {
  font-size: 30px;
  line-height: 50px;
  color: #303030;
  margin-bottom: 25px;
}

h3 {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 36px;
  color: #4d4d4d;
  font-weight: 300;
}

h4 {
  font-size: 20px;
  line-height: 32px;
}

h5 {
  font-size: 17px;
  line-height: 28px;
  color: #656565;
  margin-bottom: 25px;
}

hr {
  border: none;
  border-top: 1px solid #E6E6E6;
  margin: 30px 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[class^="btn"],
.switch,
label,
input[type="text"],
input[type="password"],
textarea {
  font-size: 14px;
  font-weight: 100;
}

[class^="btn"],
.switch,
label,
input[type="text"],
input[type="password"] {
  line-height: 42px;
  height: 42px;
}

label {
  color: #7f7f7f;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 0 10px;
  border: 1px solid #807F7F;
  border-radius: 5px;
  color: #656565;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15) inset;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
}

textarea {
  padding: 10px;
  min-height: 100px;
}

textarea.textarea-xl {
  height: 248px;
}

.placeholder {
  color: #aaa;
}

.input-group {
  position: relative;
}

.input-group .icon-mail,
.input-group .icon-search,
.input-group .icon-location,
.input-group .icon-price,
.input-group .icon-lock {
  position: absolute;
  left: 8px;
  top: 6px;
}

input.has-icon {
  padding-left: 46px;
}

.input-group {
  position: relative;
  min-height: 44px;
}

.input-group_label {
  position: absolute;
  left: 0;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}

.input-group_input {
  margin-left: 200px;
  position: relative;
}

.input-group_input input,
.input-group_input textarea,
.input-group_input select {
  width: 100%;
}

.row {
  width: 100%;
}

.row+.row {
  margin-top: 15px;
}

[class*="row"] + .row-xl {
  margin-top: 30px;
}

.scale-form input,
.scale-form textarea,
.scale-form label,
.scale-form .input-group,
input.scale-form,
textarea.scale-form,
label.scale-form {
  width: 100%;
}

.form-validate_container {
  -webkit-transition: all 0.5s;
}

.form-validate-prompt {
  z-index: 2;
  position: absolute;
  top: -10px;
  left: -10000px;
  width: 100%;
  padding: 8px;
  border: 1px solid #d53a55;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  color: #d53a55;
  opacity: 0;
  background: #ffdde2;
  box-shadow: 0 3px 8px rgba(0,0,0,0.7), inset 0 1px 0 rgba(255,255,255,0.3);
  -webkit-transition: opacity 0.5s,top 0.2s;
  -moz-transition: opacity 0.5s,top 0.2s;
  -ms-transition: opacity 0.5s,top 0.2s;
  -o-transition: opacity 0.5s,top 0.2s;
  transition: opacity 0.5s,top 0.2s;
}

.form-validate-prompt.is-animated_in {
  top: 46px;
  left: 0;
  opacity: 1;
}

.form-validate-prompt.is-animated_out {
  top: -20px;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s,top 0.3s;
}

/* ------------- Buttons */

[class^="btn"]:hover,
[class^="btn"] {
  text-decoration: none;
}

[class^="btn"],
.switch {
  padding             : 0 17px 0;
  min-width           : 90px;
  border              : 1px solid #b3b3b3;
  border-radius       : 5px;
  text-align          : center;
  line-height         : 39px;
  color               : #28AAE1;
  background          : url(../img/sprites_btn.png);
  cursor              : pointer;
  -webkit-user-select : none;
  -moz-user-select    : none;
  user-select         : none;
  -ms-user-select     : none;
  -o-user-select      : none;
}

.btn_has-badge {
  text-align: left;
  position: relative;
}

.badge {
  position      : absolute;
  top           : 9px;
  right         : 10px;
  height        : 22px;
  padding       : 0 8px;
  border-radius : 11px;
  font-size     : 12px;
  line-height   : 22.5px;
  color         : #fff;
  background    : #28aae1;
}

[class^="btn"]:active .badge {
  top: 12px;
}

[class^="btn"]:active {
  line-height: 43px;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.6);
}

.btn-large {
  line-height: 45px;
}

/* Btn Blue */

.btn-blue {
  border: 1px solid #0b638f;
  color: #fff;
}

.btn-blue:active {
  background-position: 0 -84px;
}

.btn-nav_btn_is-active {
  color        : #FFF;
  background   : #28AAE1;
  border: 1px solid #28AAE1;
}

/* Btn Green */

.btn-green {
  color        : #F0FFF5;
  background   : #17A857;
}

/* Btn Red */

.btn-red {
  color        : #FFF;
  background   : #CE515B;
}

/* Btn White */

[class*="btn-white"] {
  background-position: 0 -126px;
  color: #808080;
}

[class*="btn-white"]:active {
  background-position: 0 -212px;
}

.btn-white-red,
.btn-white-red:hover {
  color: #ff6072;
}

.btn-white-blue {
  color: #28aae1;
}

.block,.btn-block {
  min-width: 100%;
  width: 100%;
}

.block + .block,
.btn-block + .btn-block {
  margin-top: 10px;
}

.btn-nav {
  border: none;
}

.btn-nav_block {
  width: 100%;
  background: none;
  font-size: 0;
}

.btn-nav_btn {
  border-radius: 0;
  min-width: 139px;
}

.btn-nav_btn + .btn-nav_btn {
  border-left: 0;
}

.btn-nav_btn_is-first {
  border-radius: 5px 0 0 5px;
}

.btn-nav_btn_is-last {
  border-radius: 0 5px 5px 0;
}

/* Behavior */

[class^="btn"] + [class^="btn"],
.input-group + [class^="btn"] {
  margin-left: 10px;
}

/* With Icons */

.btn_has-icon {
  min-width: 50px;
  padding: 0;
}

[class^="btn"] [class^="icon"] {
  margin-top: 5px;
}

/* Disabled */

[class*="btn-white"][disabled] {
  background: #e6e6e6;
}

/* Switch */

.switch {
  background-position: 0 -128px;
  border-radius: 22px;
  position: relative;
  padding: 0;
  min-width: 90px;
  font-size: 0;
  overflow: hidden;
}

.switch-btn {
  background: url(../img/sprites_switch.png);
  width: 36px;
  height: 36px;
  margin-top: 3px;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.switch_is-disabled .switch-btn {
  opacity: 0.5;
}

.switch-track {
  position: absolute;
  left: 0;
  width: 150px;
  height: 100%;
  text-align: left;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.switch_is-on .switch-track {
  left: -48px;
}

.switch_is-off .switch-track {
  left: 0;
}

.switch_is-disabled .switch-track {
  left: -24px;
}

.switch-text_on,
.switch-text_off {
  width: 50px;
  font-size: 14px;
  line-height: 39px;
  -webkit-transition: all 0.3s;
}

.switch-text_on {
  color: #28aae1;
  text-align: center;
  padding-right: 10px;
}

.switch-text_off {
  color: #ff6072;
  text-align: left;
  padding-left: 16px;
}

.switch_is-disabled .switch-text_on,
.switch_is-disabled .switch-text_off {
  color: transparent;
}

.switch input {
  display: none;
}

/* Box */

.box {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 20px;
}

.box-title {
  font-size: 10px;
  text-align: center;
  width: 100%;
  color: #4d4d4d;
  margin-bottom: 6px;
}

.box-text {
  font-size: 14px;
  text-align: center;
  color: #808080;
  font-weight: 300;
}

/* Icons */

.icon-mail,
.icon-location,
.icon-search,
.icon-inbox,
.icon-archive,
.icon-price,
.icon-lock,
.icon-mail-white,
.icon-location-white,
.icon-search-white,
.icon-inbox-white,
.icon-archive-white,
.icon-price-white,
.icon-lock-white {
  background-image: url(../img/sprites_icons.png);
  width: 32px;
  height: 32px;
}

.icon-mail-white,
.icon-location-white,
.icon-search-white,
.icon-inbox-white,
.icon-archive-white,
.icon-price-white,
.icon-lock-white,
.left-menu-nav_item_link_is-active .icon-mail,
.left-menu-nav_item_link_is-active .icon-search,
.left-menu-nav_item_link_is-active .icon-inbox,
.left-menu-nav_item_link_is-active .icon-archive,
.left-menu-nav_item_link_is-active .icon-location,
.left-menu-nav_item_link_is-active .icon-price,
.left-menu-nav_item_link_is-active .icon-lock,
.left-menu-nav_item_link:hover .icon-mail,
.left-menu-nav_item_link:hover .icon-search,
.left-menu-nav_item_link:hover .icon-inbox,
.left-menu-nav_item_link:hover .icon-archive,
.left-menu-nav_item_link:hover .icon-location,
.left-menu-nav_item_link:hover .icon-price,
.left-menu-nav_item_link:hover .icon-lock {
  background-image: url(../img/sprites_icons-white.png);
}

.icon-location-white,
.icon-location {
  background-position: -32px 0;
}

.icon-price-white,
.icon-price {
  background-position: -64px 0;
}

.icon-lock-white,
.icon-lock {
  background-position: -96px 0;
}

.icon-search-white,
.icon-search {
  background-position: -128px 0;
}

.icon-inbox-white,
.icon-inbox {
  background-position: -160px 0;
}

.icon-archive-white,
.icon-archive {
  background-position: -192px 0;
}

/* Full screen background */

.fs_background {
  /* Set rules to fill background */
  min-width: 1200px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1200px) { /* Specific to this particular image */
  .fs_background {
    left: 50%;
    margin-left: -600px;   /* 50% */
  }
}

/* ------------- Main */

/* Logo */

.logo_hero,
.status-bar_logo {
  background: url(../img/sprites_logo.png) no-repeat;
  width: 264px;
  height: 89px;
}

/* Hero */

.hero {
  padding-top: 176px;
  height: 639px;
  overflow: hidden;
  position: relative;
}

.hero-container {
  width: 570px;
}

.hero-container_search {
  width: 680px;
}

.hero_susi,
.hero_login,
.hero_search {
  border-radius: 12px;
  background: url(../img/sprites_white-50.png);
  border: 1px solid #fff;
  box-shadow: 0 6px 16px rgba(0,0,0,1);
}

.hero_susi {
  width: 500px;
  padding: 20px;
}

.hero_search,
.hero_login {
  width: 100%;
  padding: 13px;
}

.hero_login {
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.logo_hero_login {
  background: url(../img/sprites_login.png);
  width: 214px;
  height: 194px;
  margin-bottom: 50px;
}

.login {
  padding-top: 50px;
}

.hero_heading {
  margin-top: 20px;
  font-size: 39px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 2px 9px rgba(0, 0, 0, 1);
  line-height: 35px;
  margin-bottom: 20px;
}

.hero_subheading {
  font-size: 23px;
  color: #fff;
  font-weight: 400;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  line-height: 30px;
}

.hero_login-cta {
  margin-top: 60px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 12px;
  background: url(../img/sprites_black-70.png);
  box-shadow: 0 2px 6px #000,0 0 2px rgba(255,255,255,0.4) inset;
}

.hero_login-cta_text {
  font-size: 16px;
  font-weight: 100;
  color: #fff;
}

.hero_register_cta {
  margin-top: 50px;
}

/* Search */

.search {
  border: 1px solid #e6e6e6;
  padding: 13px;
  border-radius: 9px;
  margin-bottom: 10px;
}

.search-results {
  margin-top: 10px;
}

/* Search Item */

.search-item {
  border: 1px solid #e6e6e6;
  border-radius: 9px;
  margin-bottom: 30px;
}

.search-item_title {
  font-size: 16px;
  line-height: 30px;
  padding: 10px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-item_video-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.search-item_video-container img {
  width: 100%;
  height: auto;
}

.search-item_info {
  margin: 22px 0;
}

.search-item_info + .search-item_info {
  border-left: 1px solid #cccccc;
}

.search-item_info_title,
.search-item_info_text {
  width: 100%;
  text-align: center;
}

.search-item_info_title {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #b3b3b3;
}

.search-item_info_text {
  font-size: 16px;
  line-height: 16px;
  color: #ff6a99;
}

/* Video Control */

.video-control {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 86px;
  height: 86px;
  margin-top: -43px;
  margin-left: -43px;
  background: url(../img/sprites_video-controls.png);
  z-index: 1;
}

/* Main Page */

.item-info {
  font-size: 16px;
  width: 100%;
  font-weight: 300;
  line-height: 30px;
}

.item-info + .item-info {
  margin-bottom: 20px;
}

.item-info_title {
  color: #b3b3b3;
}

.item-info_text {
  color: #808080;
}

.featured-video {
  width: 100%;
  position: relative;
  height: 540px;
  overflow: hidden;
}

@-webkit-keyframes test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.featured-video_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.featured-video_container.is-animated_in {
  -webkit-animation: test 0.5s;
}

.featured-video img {
  width: 100%;
  height: auto;
}

/* Video Nav */

.videos {
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-prev,
.carousel-next {
  background: url(../img/sprites_video-controls.png);
  width: 38px;
  height: 38px;
  margin-top: -18px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.carousel-prev {
  left: -10px;
  background-position: 0 -86px;
}

.carousel-next {
  right: -10px;
  background-position: -38px -86px;
}

.video-item {
  width: 300px;
  -webkit-transition: opacity 0.3s, width 0.3s;
  overflow: hidden;
}

.video-item_wrapper {
  width: 268px;
  position: relative;
}

.video-item_is-active .video-item_frame {
  border: 10px solid #000000;
  border-color: rgba(255,255,255,0.6);
}


.video-item_frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@-webkit-keyframes carousel-item_in {
  0% {width: 0; opacity: 0; } 100% {width: 300px; opacity: 1; }
}
@-moz-keyframes carousel-item_in {
  0% {width: 0; opacity: 0; } 100% {width: 300px; opacity: 1; }
}
@-ms-keyframes carousel-item_in {
  0% {width: 0; opacity: 0; } 100% {width: 300px; opacity: 1; }
}
@-o-keyframes carousel-item_in {
  0% {width: 0; opacity: 0; } 100% {width: 300px; opacity: 1; }
}
@keyframes carousel-item_in {
  0% {width: 0; opacity: 0; } 100% {width: 300px; opacity: 1; }
}

@-webkit-keyframes carousel-item_out {
  0% {width: 300px; opacity: 1; } 100% {width: 0; opacity: 0; }
}
@-moz-keyframes carousel-item_out {
  0% {width: 300px; opacity: 1; } 100% {width: 0; opacity: 0; }
}
@-ms-keyframes carousel-item_out {
  0% {width: 300px; opacity: 1; } 100% {width: 0; opacity: 0; }
}
@-o-keyframes carousel-item_out {
  0% {width: 300px; opacity: 1; } 100% {width: 0; opacity: 0; }
}
@keyframes carousel-item_out {
  0% {width: 300px; opacity: 1; } 100% {width: 0; opacity: 0; }
}

.video-item.carousel-item_in {
  -webkit-animation: carousel-item_in 0.3s ease-out;
  -moz-animation: carousel-item_in 0.3s ease-out;
  -ms-animation: carousel-item_in 0.3s ease-out;
  -o-animation: carousel-item_in 0.3s ease-out;
  animation: carousel-item_in 0.3s ease-out;
}

.video-item.carousel-item_out {
  -webkit-animation: carousel-item_out 0.3s ease-out;
  -moz-animation: carousel-item_out 0.3s ease-out;
  -ms-animation: carousel-item_out 0.3s ease-out;
  -o-animation: carousel-item_out 0.3s ease-out;
  animation: carousel-item_out 0.3s ease-out;
}

.video-item .video-item_wrapper {
  margin: 0 15px 0 0;
}

.video-item img {
  width: 100%;
  height: auto;
}

/* Features */

[class*="feature-icon_"] {
  background: url(../img/sprites_features.png);
  width: 108px;
  height: 108px;
  margin-bottom: 10px;
}

.feature-icon_post-rates {
  background-position: -108px 0;
}

.feature-icon_connect {
  background-position: -216px 0;
}

.feature-icon_search {
  background-position: -324px 0;
}

.feature-icon_portfolio {
  background-position: -432px 0;
}

.feature-icon_time {
  background-position: -540px 0;
}

.section-footer {
  border-top: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

/* Status bar */

.status-bar {
  height: 90px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

.status-bar_logo {
  background-position: 0 -89px;
  width: 134px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 20px;
}

.status-bar_title {
  font-size: 16px;
  line-height: 90px;
  text-align: center;
  width: 100%;
  color: #7f7f7f;
}

.status-bar_control {
  position: absolute;
  right: 0px;
  top: 23px;
  text-align: right;
}

.status-bar_control [class*="btn"]+[class*="btn"] {
  margin-left: 10px;
}

.workspace .status-bar {
  height: 80px;
  padding: 20px 0;
}

.workspace .status-bar_control {
  top: 19px;
}

.workspace .status-bar_status {
  position: absolute;
  left: 20px;
  top: 19px;
}


/* Breadcrumbs */

.breadcrumbs {
  position: absolute;
  left: 0;
  top: 0;
  color: #656565;
}

.breadcrumbs .arrow,
.breadcrumb_item {
  margin-top: 10px;
}

.breadcrumb_item {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
}

.breadcrumbs .arrow {
  width: 40px;
  height: 40px;
  background: url(../img/sprites_breadcrumb.png);
}

/* Nav Bar */

.nav-bar {
  position: relative;
  min-height: 61px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}

.nav-bar_control {
  position: absolute;
  right: 0px;
  top: 9px;
  text-align: right;
}

/* Pagination */

.pagination-container {
  height: 60px;
  position: relative;
}

.pagination {
  position: absolute;
  right: 0;
  top: 9px;
  text-align: right;
}

.pagination-control {
  border-radius: 0;
  min-width: 44px;
  padding: 0 5px;
}

.pagination-control_is-first {
  border-radius: 5px 0 0 5px;
}

.pagination-control_is-last {
  border-radius: 0 5px 5px 0;
}

.pagination-control + .pagination-control {
  margin-left: 0 !important;
  border-left: none;
}

span.pagination-control {
  cursor: default;
}

.pagination-control_is-disabled {
  background: #f6f6f6;
}

.pagination-control_is-active:hover,
.pagination-control_is-active {
  background-position: 0 -84px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.6) inset;
  color: #fff;
}

.pagination-count {
  font-size: 16px;
  font-weight: 300;
  line-height: 60px;
  padding-left: 20px;
  color: #7f7f7f;
}


/* Left Menu & Right Menu */

.left-menu {
  padding: 20px;
}

.left-menu hr {
  margin: 17px 0;
  width: 100%;
}

.right-menu,
.right-menu-messages {
  border-left: 1px solid #e6e6e6;
}

.right-menu {
  padding: 30px 0 30px 30px;
}

.right-menu-messages {
  min-height: 649px;
}

.no-menu {
  padding: 26px 0;
}

/* Profile Module */

.profile-picture-container {
  position: relative;
  width: 186px;
  height: 186px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  border-radius: 50%;
}

.profile-picture {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.profile-picture-text {
  line-height: 186px;
  font-size: 13px;
}

.profile-picture-container.is-animated_in .profile-picture,
.profile-picture-container_no-picture .profile-picture {
  opacity: 0;
  top: -186px;
}

.profile-picture-container.is-animated_in,
.profile-picture-container_no-picture {
  border: 1px solid #bdbdbd;
}

.profile-picture-control {
  position: relative;
  height: 44px;
}

.profile-picture-control_no-picture,
.profile-picture-control_has-picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.profile-picture_all-controls_no-picture.is-animated_in .profile-picture-control_has-picture {
  left: 0;
  opacity: 0;
}

.profile-picture_all-controls_no-picture.is-animated_in .profile-picture-control_has-picture {
  left: 0;
  opacity: 0;
}

/* Upload No Picture */

.profile-picture-control_no-picture {
  left: -10000px;
  opacity: 0;
}

.profile-picture_all-controls_no-picture .profile-picture-control_no-picture {
  left: 0;
  opacity: 1;
}

/* Profile Page Video */

.item-video {
  position: relative;
  margin-bottom: 45px;
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 120px;
}

.item-video.is-animated_in {
  max-height: 0;
  margin-bottom: 0;
  opacity: 0;
}

.item-video_container {
  width: 217px;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
}

.item-video_container_element {
  border: 1px solid #6c6c6c;
}

.item-video_container_element img {
  width: 100%;
  height: auto;
}

.item-video_info {
  margin-left: 247px;
  padding-top: 6px;
}

.item-video hr {
  margin: 13px 0;
}

/* Popout */

.popout {
  padding: 8px 0;
  background: #fff;
  display: none;
  position: absolute;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  list-style: none;
  z-index: 10;
}

.popout_is-active {
  display: block;
}

.popout li {
  font-size: 15px;
  line-height: 44px;
  min-width: 200px;
  text-align: left;
  font-weight: 100;
}

.popout a {
  display: block;
  padding: 0 16px;
  color: #808080;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  cursor: pointer;
}

.popout a:hover {
  color: #fff;
  background: #1a91c6;
}

.is-mobile {
  display: none;
}

/* Modal */

.modal-prompt {
  z-index: 10;
  position: absolute;
  bottom: 100px;
  left: -10000px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  background: url(../img/sprites_black-70.png);
  -webkit-transition: opacity 0.2s,bottom 0.15s;
  -moz-transition: opacity 0.2s,bottom 0.15s;
  -ms-transition: opacity 0.2s,bottom 0.15s;
  -o-transition: opacity 0.2s,bottom 0.15s;
}

.modal-prompt.is-animated_in,
.modal-prompt_right.is-animated_in {
  bottom: 3px;
  opacity: 1;
}

.modal-prompt_top.is-animated_in {
  bottom: auto;
  opacity: 1;
  top: 23px;
}

.modal-prompt.is-animated_in {
  left: 10px;
}

.modal-prompt_right.is-animated_in {
  left: auto;
  right: 10px;
}

.modal-prompt.is-animated_out,
.modal-prompt_right.is-animated_out {
  bottom: 50px;
  opacity: 0;
}

.modal-prompt.is-animated_out {
  left: 10px;
}

.modal-prompt_right.is-animated_out {
  left: auto;
  right: 10px;
}

.modal-prompt-chrome {
  padding: 13px;
  background: #fff;
}

.modal-prompt-title {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 33px;
  color: #b3b3b3;
}

.modal-prompt-control {
  width: 100%;
  text-align: center;
}

.modal-control [class*="btn"] + [class*="btn"],
.modal-prompt-control [class*="btn"] + [class*="btn"] {
  margin-left: 10px;
}

/* Regular Modal */

.modal-shadow-box {
  position: absolute;
  top: 0;
  left: -10000px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url(../img/sprites_black-70.png);
  -webkit-transition: opacity 0.5s;
}

.modal-chrome {
  position: fixed;
  top: -100%;
  left: 50%;
  width: 600px;
  margin-top: 60px;
  margin-left: -300px;
  padding: 45px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-title {
  margin-bottom: 40px;
  font-size: 23px;
  font-weight: 300;
  line-height: 20px;
}

.modal-control {
  margin-top: 40px;
}

/* Modal Animation States */

.modal-shadow-box.is-animated_in {
  left: 0;
  opacity: 1;
}

.modal-shadow-box.is-animated_out {
  left: 0;
  opacity: 0;
}

.modal-shadow-box.is-animated_in .modal-chrome {
  top: 0;
}

.modal-shadow-box.is-animated_out .modal-container {
  top: -100%;
}

/* Left Menu */

.left-menu-nav{
  color: #7f7f7f;
  list-style: none;
}

.left-menu-nav_item {
  font-size: 16px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}

.left-menu-nav_item + .left-menu-nav_item {
}

.left-menu-nav_item [class*="icon"] {
  margin-top: 13px;
  margin-right: 6px;
}

.left-menu-nav_item_link {
  width: 100%;
  padding: 0 10px;
  font-weight: 300;
  line-height: 59px;
  color: #b3b3b3;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  cursor: pointer;
}

.left-menu-nav_item_link_is-active,
.left-menu-nav_item_link:hover {
  background: #28aae1;
  color: #fff;
}

/* Messages */

.message-item {
  position: relative;
  width: 100%;
  padding: 20px 0 30px;
  max-height: 145px;
  border-top: 1px solid #e6e6e6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.message-item_head {
  line-height: 35px;
  height: 35px;
  width: 100%;
  position: relative;
}

.message-item_right {
  margin-left: 50px;
}

.message-item_head_left {
  line-height: 35px;
  position: absolute;
  width: 60%;
}

.message-item_head_right {
  line-height: 35px;
  line-height: 35px;
  position: absolute;
  right: 0;
  width: 40%;
  text-align: right;
}

.message-item_status {
  background: url(../img/sprites_message-status.png);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 16px;
  top: 25px;
}

.message-item_is-unread .message-item_status {
  background-position: -22px 0;
}

/* Ellipsis */

.message-item_from,
.message-item_email,
.message-item_phone,
.message-item_date {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-item_from {
  font-size: 16px;
  color: #656565;
  font-weight: 300;
  vertical-align: bottom;
  max-width: 200px;
}

.message-item_email {
  font-size: 13px;
  color: #808080;
  font-weight: 300;
  vertical-align: bottom;
  line-height: 33px;
  margin-left: 10px;
  max-width: 200px;
}

.message-item_phone,
.message-item_date {
  font-size: 14px;
  color: #808080;
  font-weight: 300;
  line-height: 20px;
  margin-top: 7px;
}

.message-item_phone {
  margin-right: 15px;
}

.message-item_phone + .message-item_date {
  border-left: 1px solid #e6e6e6;
  padding-left: 15px;
}

.message-item_content {
  font-size: 15px;
  color: #808080;
  font-weight: 300;
  text-align: justify;
}

.message-item_control {
  position: absolute;
  bottom: 50px;
  left: -10000px;
  width: 100%;
  text-align: center;
  height: 0px;
}

.message-header {
  margin-top: 30px;
}

.message-header p,
.message-body {
  margin             : 0;
  font-weight        : 300;
  -webkit-transition : color 1s;
  -moz-transition    : color 1s;
  -ms-transition     : color 1s;
  -o-transition      : color 1s;
  transition         : color 1s;
}

.message-header_is-deleted p,
.message-body_is-deleted {
  color: #e6e6e6;
}

.message-body {
  margin-top: 30px;
  text-align: justify;
}

/* State */

.message-item_delete.is-animated_in,
.message-item_archive.is-animated_in {
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.message-item_delete.is-animated_in {
  background: #FF6072;
}

.message-item_archive.is-animated_in {
  background: #28AAE1;
}

@media (min-width: 480px) {

  .dright {
    text-align: right;
  }

  .message-item:hover .message-item_control {
    left: 0;
  }

  a:hover {
    color: #28affa;
  }

  .btn:hover,
  .btn-nav_btn:hover {
    background: #f4f4f4;
  }

  .btn-blue:hover {
    background-position: 0 -42px;
    color: #fff;
  }

  .btn-nav_btn_is-active:hover {
    background   : #1098E4;
  }

  .btn-green:hover {
    background   : #38ce5a;
  }

  .btn-red:hover {
    background   : #f04759;
  }

  [class*="btn-white"]:hover {
    background-position: 0 -168px;
    color: #808080;
  }

  .btn-white-blue:hover {
    color: #6abade;
  }

  .btn-white-red,
  .btn-white-red:hover {
    color: #ff6072;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1080px;
  }

  .featured-video {
    height: 608px;
  }
}

/* Mobile */

@media screen and (max-width: 480px) {

  h1 {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 10px;
  }

  h3,
  h5 {
    font-size: 18px;
    line-height: 30px;
  }

  hr {
    margin: 15px 0;
  }

  p {
    font-size: 13px;
    line-height: 25px;
  }

  .is-desktop {
    display: none;
  }

  [class*="m1"],
  [class*="m2"],
  .m3,
  .m4,
  .m5,
  .m6,
  .m7,
  .m8,
  .m9,
  .is-mobile,
  .breadcrumbs {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

  .m1  { width: 4.16666666666667%;  }
  .m2  { width: 8.33333333333334%;  }
  .m3  { width: 12.50000000000001%; }
  .m4  { width: 16.66666666666668%; }
  .m5  { width: 20.83333333333335%; }
  .m6  { width: 25%;                }
  .m7  { width: 29.16666666666669%; }
  .m8  { width: 33.33333333333336%; }
  .m9  { width: 37.50000000000003%; }
  .m10 { width: 41.6666666666667%;  }
  .m11 { width: 45.83333333333337%; }
  .m12 { width: 50%;                }
  .m13 { width: 54.16666666666671%; }
  .m14 { width: 58.33333333333338%; }
  .m15 { width: 62.50000000000005%; }
  .m16 { width: 66.66666666666672%; }
  .m17 { width: 70.83333333333339%; }
  .m18 { width: 75%;                }
  .m19 { width: 79.16666666666673%; }
  .m20 { width: 83.3333333333334%;  }
  .m21 { width: 87.50000000000007%; }
  .m22 { width: 91.66666666666674%; }
  .m23 { width: 95.83333333333341%; }
  .m24 { width: 100%;               }

  .container {
    width: 100%;
    padding: 0 20px;
  }

  .section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .m24[class*="col"] {
    padding-left: 0;
    padding-right: 0;
  }

  .m24.l1,
  .m24.l2,
  .m24.l3,
  .m24.l4,
  .m24.l5,
  .m24.l6,
  .m24.l7,
  .m24.l8,
  .m24.l9,
  .m24.l10,
  .m24.l11,
  .m24.l12,
  .m24.l13,
  .m24.l14,
  .m24.l15,
  .m24.l16,
  .m24.l17,
  .m24.l18,
  .m24.l19,
  .m24.l20,
  .m24.l21,
  .m24.l22,
  .m24.l23,
  .m24.l24,
  .m24.l25 {
    margin-left: 0;
  }

  .row_m+.row_m {
    margin-top: 10px;
  }

  .no-padding_m {
    padding: 0;
  }

  /* Mobile Main */

  .main {
    min-height: 520px;
  }

  /* Status bar */

  .status-bar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
  }

  .workspace {
    margin-top: 50px;
    width: 100%;
  }

  .status-bar,
  .pagination-container {
    height: 51px;
    background: #fff;
    width: 100%;
  }

  .status-bar .container {
    text-align: center;
  }

  .status-bar_logo {
    position: static;
    width: 110px;
    height: 36px;
    margin-top: 5px;
    background: url(../img/sprites_logo_mobile.png);
  }

  .status-bar_control {
    top: 4px;
    right: 4px;
  }

  /* Nav Bar */

  .nav-bar {
    min-height: 45px;
  }

  .nav-bar_control {
    position: static;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #E6E6E6;
  }

  .input-dropdown {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    top: 0;
    -webkit-transition: all 0.8s;
  }

  .input-dropdown_chrome {
    z-index: 100;
    position: absolute;
    top: 44px;
    left: -10000px;
    width: 100%;
    height: 0;
    padding: 0;
    background: url(../img/sprites_black-70.png);
    -webkit-transition: height 0.3s ease-out,padding 0.3s;
  }

  .input-dropdown_chrome .input-group,
  .input-dropdown_control {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -webkit-transition-delay: 0.2s;
  }

  .input-dropdown_chrome .input-group {
    width: 100%;
    padding-right: 100px;
  }

  .input-dropdown_chrome .input-group input {
    width: 100%;
    border-color: #000;
  }

  .input-dropdown_control {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .input-dropdown_control [class*="btn"] {
    border-color: #000;
  }

  /* Animated States */

  .input-dropdown.is-animated_in .input-dropdown_chrome {
    left: 0;
    height: 63px;
    padding: 10px;
  }

  .input-dropdown.is-animated_in .input-group,
  .input-dropdown.is-animated_in .input-dropdown_control {
    opacity: 1;
  }

  .input-dropdown.is-animated_out .input-dropdown_chrome {
    left: 0;
    height: 0;
    padding: 0;
    -webkit-transition: height 0.2s ease-out,padding 0.2s;
    -webkit-transition-delay: 0.1s;
  }

  .input-dropdown.is-animated_out .input-group,
  .input-dropdown.is-animated_out .input-dropdown_control {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -webkit-transition-delay: 0;
  }

  /* Form Controls */
  .input-group_label {
    width: 100px;
    text-align: left;
  }

  .input-group_input {
    margin-left: 120px;
    position: static;
  }

  .fs_background {
    /* Set rules to fill background */
    min-width: 1000px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    margin-left: -500px;
  }

  /* Hero Container */

  .hero {
    height: 500px;
    padding-top: 70px;
    margin-top: 50px;
  }

  .hero-container {
    width: 100%;
    padding: 0 15px;
  }

  .hero_heading {
    font-size: 25px;
    margin-bottom: 12px;
    line-height: 24px;
  }

  .hero_subheading {
    font-size: 14.5px;
    line-height: 20px;
  }

  .hero_susi {
    width: 100%;
    padding: 10px;
  }

  .hero_login-cta {
    margin-top: 30px;
  }

  /* Hero Login */

  .login {
    padding-top: 25px;
  }

  .logo_hero_login {
    background: url(../img/sprites_login_mobile.png);
    width: 122px;
    height: 112px;
    margin-bottom: 25px;
  }

  /* Feature */

  .feature-item {
    padding-bottom: 20px;
  }

  .feature-item+.feature-item{
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
  }

  /* Left & Right Menu */

  .right-menu {
    border-left: 0;
    border-top: 1px solid #e6e6e6;
    padding: 20px;
  }

  .no-menu {
    padding: 10px;
  }

  .breadcrumbs {
    padding-left: 10px;
    position: static;
  }

  .breadcrumb_item {
    min-height: 44px;
    line-height: 44px;
    margin-top: 0;
    font-size: 13px;
  }

  .breadcrumbs .arrow {
    margin-top: 3px;
  }

  /* Left Menu Nav */

  .left-menu-nav_item {
    text-align: center;
  }

  .left-menu-nav_item_link {
    line-height: 46px;
  }

  .left-menu-nav_item [class*="icon"] {
    margin-top: 7px;
    margin-left: -15px;
  }

  /* Mobile Right Menu Messages */

  .right-menu-messages {
    border-left: none;
  }

  /* Message Item */

  .message-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    max-height: 500px;
  }

  .message-item {
    border-top: none;
  }

  .message-item+.message-item {
    border-top: 1px solid #E6E6E6;
  }

  .message-item_status {
    top: 18px;
    left: 8px;
  }

  .message-item_head {
    height: auto;
    line-height: 15px;
    margin-bottom: 10px;
  }

  .message-item_head_left,
  .message-item_head_right {
    width: 100%;
    position: static;
    text-align: left;
    line-height: 20px;
  }

  .message-item_email {
    line-height: 18px;
  }

  .message-item_content {
    padding-right: 20px;
    font-size: 14px;
  }

  .message-item_right {
    margin-left: 40px;
  }

  .message-item_phone,
  .message-item_date {
    line-height: 18px;
  }

  /* State */

  .message-item_control {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .message-item_control.is-animated_in {
    left: 0;
    opacity: 1;
  }

  .message-item_control.is-animated_out {
    left: 0;
    opacity: 0;
  }

  .message-item_from {
    font-size: 15px;
    width: 130px;
    max-width: 130px;
  }

  .message-item_email {
    font-size: 12px;
    max-width: 130px;
    line-height: 17px;
  }

  /* Mobile Message */

  .message-header {
    margin-top: 10px;
  }

  .message-body {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /* Popout */

  .popout {
    height: 0px;
    overflow: hidden;
    left: -10000px;
    -webkit-transition: height 0.15s;
  }

  .popout_is-active {
    left: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.85);
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 -2px 9px rgba(0,0,0,0.25);
    height: 280px;
  }

  .popout-statusbar {
    height: 49px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
  }

  .popout-statusbar_control {
    position: absolute;
    right: 6px;
  }

  .popout-title {
    font-size: 14px;
    position: absolute;
    line-height: 44px;
    color: #808080;
    padding-left: 15px;
  }

  .popout-select {
    height: 219px;
    overflow-y: scroll;
  }

  .popout-select .checkbox {
    width: 31px;
    height: 31px;
    background: url(../img/sprites_select.png);
    margin-top: 7px;
  }

  .popout-select_is-active .checkbox {
    background-position: -31px 0;
  }

  .item-video {
    max-height: 270px;
  }

  .item-video_container {
    position: static;
    text-align: center;
    width: 100%;
    height: auto;
  }

  .item-video_container_element {
    width: 100%;
  }

  .item-video_info {
    margin-left: 0;
    margin-top: 10px;
  }

  .featured-video {
    height: 160px;
  }

  .videos {
    margin-top: 10px;
  }

  .video-item {
    width: 105px;
  }

  .video-item_wrapper {
    width: 95px;
  }

  .video-item_is-active .video-item_frame {
    border-width: 3px;
  }

  .video-control,
  .carousel-next,
  .carousel-prev {
    background-image: url(../img/sprites_video-controls_mobile.png);
  }

  .video-control {
    width: 52px;
    height: 52px;
    margin-top: -26px;
    margin-left: -26px;
  }

  .carousel-prev,
  .carousel-next {
    width: 52px;
    height: 52px;
    margin-top: -26px;
  }

  .carousel-prev {
    background-position: 0 -52px;
  }

  .carousel-next {
    background-position: 0 -104px;
  }

  @-webkit-keyframes carousel-item_in {
    0% {width: 0; opacity: 0; } 100% {width: 105px; opacity: 1; }
  }
  @-moz-keyframes carousel-item_in {
    0% {width: 0; opacity: 0; } 100% {width: 105px; opacity: 1; }
  }
  @-ms-keyframes carousel-item_in {
    0% {width: 0; opacity: 0; } 100% {width: 105px; opacity: 1; }
  }
  @-o-keyframes carousel-item_in {
    0% {width: 0; opacity: 0; } 100% {width: 105px; opacity: 1; }
  }
  @keyframes carousel-item_in {
    0% {width: 0; opacity: 0; } 100% {width: 105px; opacity: 1; }
  }

  @-webkit-keyframes carousel-item_out {
    0% {width: 105px; opacity: 1; } 100% {width: 0; opacity: 0; }
  }
  @-moz-keyframes carousel-item_out {
    0% {width: 105px; opacity: 1; } 100% {width: 0; opacity: 0; }
  }
  @-ms-keyframes carousel-item_out {
    0% {width: 105px; opacity: 1; } 100% {width: 0; opacity: 0; }
  }
  @-o-keyframes carousel-item_out {
    0% {width: 105px; opacity: 1; } 100% {width: 0; opacity: 0; }
  }
  @keyframes carousel-item_out {
    0% {width: 105px; opacity: 1; } 100% {width: 0; opacity: 0; }
  }

  .about-profile-picture {
    width: 120px;
    margin-top: 20px;
  }

  /* Pagination Container */

  .pagination-container {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #fff;
    width: 100%;
    z-index: 100;
    border-top: 1px solid #E6E6E6;
    padding: 5px;
    height: auto;
  }

  .pagination {
    position: static;
  }

  .pagination-count {
    display: none;
  }

  /* Mobile Modal */

  .modal-prompt {
    width: 260px;
  }

  .modal-title {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .modal-container {
    width: 100%;
    padding: 15px;
    left: 0;
  }

  .modal-chrome {
    margin-top: 51px;
    width: 100%;
    margin-left: -50%;
    padding: 20px;
    border-radius: 0;
  }

  .modal-container hr {
    margin: 15px 0;
  }

  /* Footer */

  .section-footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .section-footer p {
    font-size: 14px;
    margin: 0;
  }

  .section-footer.has-pagination {
    padding-bottom: 60px;
  }

}

/* Retina Image Assignment */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .status-bar_logo {
    background-image: url(../img/sprites_logo_mobile_retina.png);
    background-size: 110px 36px;
  }

  .icon-mail,
  .icon-search,
  .icon-inbox,
  .icon-archive,
  .icon-location,
  .icon-price,
  .icon-lock,
  .icon-mail-white,
  .icon-search-white,
  .icon-inbox-white,
  .icon-archive-white,
  .icon-location-white,
  .icon-price-white,
  .icon-lock-white {
    background-image: url(../img/sprites_icons_retina.png);
    background-size: 224px 32px;
  }

  .left-menu-nav_item_link_is-active .icon-mail,
  .left-menu-nav_item_link_is-active .icon-search,
  .left-menu-nav_item_link_is-active .icon-inbox,
  .left-menu-nav_item_link_is-active .icon-archive,
  .left-menu-nav_item_link_is-active .icon-location,
  .left-menu-nav_item_link_is-active .icon-price,
  .left-menu-nav_item_link_is-active .icon-lock,
  .left-menu-nav_item_link:hover .icon-mail,
  .left-menu-nav_item_link:hover .icon-search,
  .left-menu-nav_item_link:hover .icon-inbox,
  .left-menu-nav_item_link:hover .icon-archive,
  .left-menu-nav_item_link:hover .icon-location,
  .left-menu-nav_item_link:hover .icon-price,
  .left-menu-nav_item_link:hover .icon-lock,
  .icon-mail-white,
  .icon-search-white,
  .icon-inbox-white,
  .icon-archive-white,
  .icon-location-white,
  .icon-price-white,
  .icon-lock-white {
    background-image: url(../img/sprites_icons-white_retina.png);
  }

  [class*="feature-icon_"] {
    background-image: url(../img/sprites_features_retina.png);
    background-size: 648px 108px;
  }

  [class^="btn"] {
    background-image: url(../img/sprites_btn_retina.png);
    background-size: 4px 252px;
  }

  [class^="btn"][disabled],
  .pagination-control_is-disabled {
    background: #F6F6F6;
  }

  .logo_hero_login {
    background-image: url(../img/sprites_login_mobile_retina.png);
    background-size: 122px 112px;
  }

  .popout-select .checkbox {
    background-image: url(../img/sprites_select_retina.png);
    background-size: 62px 31px;
  }

  .video-control,
  .carousel-next,
  .carousel-prev {
    background-image: url(../img/sprites_video-controls_mobile_retina.png);
    background-size: 52px 156px;
  }

  .breadcrumbs .arrow {
    background-image: url(../img/sprites_breadcrumb_retina.png);
    background-size: 40px 40px;
  }

  .message-item_status {
    background-image: url(../img/sprites_message-status_retina.png);
    background-size: 44px 22px;
  }
}